body{
    background-color: #f5f3f3;
}





.img-part img {
    width: 100%;
    aspect-ratio: 5/2;
    object-fit: cover;
    
}

.img-part .btn{
    position: absolute;
    top: 15px;
    left: 20px;
}

.img-part i{
    position: absolute;
    top: 15px;
    right: 20px;
}

i{
    cursor: pointer; 
}

h5{
    color: rgb(11, 3, 84);
}
.author{
    color: rgb(11, 3, 84);
}
.date{
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
span,
.iqone-part>i{
    color: rgba(0, 0, 0, 0.4);
}

.fa-solid:hover {
    transform: scale(1.5)!important;
    -webkit-transform: scale(1.5)!important;
    -moz-transform: scale(1.5)!important;
    -ms-transform: scale(1.5)!important;
    -o-transform: scale(1.5)!important;
    transition: all 0.01s;
    -webkit-transition: all 0.01s;
    -moz-transition: all 0.01s;
    -ms-transition: all 0.01s;
    -o-transition: all 0.01s;
}

